<?xml version="1.0" encoding="utf-8"?>
<VersionKeeperOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Files>
    <UpdateFileProperties>
      <Filename>source.extension.vsixmanifest</Filename>
      <Properties />
    </UpdateFileProperties>
  </Files>
  <Strategy>DatePlusBuild</Strategy>
  <MajorVersion>2018</MajorVersion>
  <MinorVersion>6</MinorVersion>
  <Build>20</Build>
  <Revision>3</Revision>
</VersionKeeperOptions>